# IDE & OS files
.vscode/
.idea/
*.pyc
__pycache__/
.DS_Store

# Docker & Environment Configuration
# ---
# Ignore all local environment files
.env
*.env

# Ignore directories created by Docker Compose volumes
docker/
nifi/
airflow/


# Terraform State & Secrets
# ---
# Ignore the local tfvars file with secrets
terraform/terraform.tfvars

# Ignore terraform state files and downloaded providers
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup